*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: url("./img/Background.jpg"); 
    background-size: 1500px;
    outline: none;
}



.main{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

.tarefa-adicionar{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.tarefa-botao{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;

}

.tarefa-botao:hover{
    opacity: 0.8;
}

.tarefa-botao:active{
    opacity: 0.6;
}

.tarefa-lista{
    width: 100%;
    list-style: none;
    margin-top: 30px;

}

.tarefa{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tarefa:hover img{
    opacity: 1;
}